$font-basic: #616161;
$font-stack: Roboto;

$primary-color-50: #E3F2FD;
$primary-color-100: #BBDEFB;
$primary-color-200: #90CAF9;
$primary-color-300: #64B5F6;
$primary-color-400: #42A5F5;
$primary-color-500: #2196F3;
$primary-color-600: #1E88E5;
$primary-color-700: #1976D2;
$primary-color-800: #1565C0;
$primary-color-900: #0D47A1;

$secondary-color-white: #FFFFFF;
$secondary-color-black: #000000;

$secondary-color-50: #FAFAFA;
$secondary-color-100: #F5F5F5;
$secondary-color-200: #EEEEEE;
$secondary-color-300: #E0E0E0;
$secondary-color-400: #BDBDBD;
$secondary-color-500: #9E9E9E;
$secondary-color-600: #757575;
$secondary-color-700: #616161;
$secondary-color-800: #424242;
$secondary-color-900: #212121;

$success-color-300: #AED581;
$success-color-500: #8BC34A;
$success-color-700: #689F38;

$error-color-300: #E57373;
$error-color-500: #E35141;
$error-color-700: #D32F2F;

$warning-color-300: #FFD54F;
$warning-color-500: #FFC107;
$warning-color-700: #FFA000;